.video-player{
    position: relative;
    user-select: none;
    margin: auto;
    background-color: black;
}

.video-time-display{
    position: absolute;
    left : 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.video-time-display .time-select{
    pointer-events: none;
}

.video-loading-container{
    width:100px;
    height: 100px;
}

p.loading-progress{
    color: white;
    font-size: 3em;
    margin-top: 20px;
    text-align: center;
}

.video-player.hide-cursor{
    cursor: none;
}