.video-player{
    position: relative;
    max-height: 100vh;
    user-select: none;
}

.video-time-display{
    position: absolute;
    left : 50%;
    transform: translateX(-50%);
}

.time-link{
    margin: 10px 15px;
    position: absolute;
    width: 200px;
    height: 76px ;
    top: 0;
}