.video-player{
    position: relative;
    user-select: none;
    margin: auto;
    background-color: black;
}
.video-player a{
    display: block;
}
.video-time-display{
    position: absolute;
    left : 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.video-time-display .time-select{
    pointer-events: none;
}

.video-loading-container{
    width:100px;
    height: 100px;
}

p.loading-progress{
    color: white;
    font-size: 3em;
    margin-top: 20px;
    text-align: center;
}

.video-player.hide-cursor{
    cursor: none;
}

p.error-video{
    color : white
}

.year-on-video>.year-box {
    font-size: 3em;
    width: 200px;
    margin: 10px 15px;
    text-align: center;
    outline: none;
    border: 1px solid black;
    border-radius: 2px;
    background-color: white;
    color: black;
    
}



@media (max-height:600px), (max-width:700px){
    .year-on-video>.year-box{
        height: 42px;
        font-size: 1.8em;
        width: 111px;
    }
}