.editing-panel{
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
}

.black-overlay{
    z-index: -1;
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #333;
    opacity: .5;
}

.popup-container{
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
    pointer-events: all;
    max-height: 90vh;
}

.popup-container h1{
    text-align: center;
    color: #0f4892e6;
    margin-top: 11px;
    margin-bottom: 28px;

}
.no-pointer-events{
    pointer-events: none;
}