.black-overlay, .popup-container{
    position: fixed;
    top:0;
}

.black-overlay{
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #333;
    opacity: .5;
}

.popup-container{
    margin-top: 10vh;
    max-height: 85vh;
    min-height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: white;
    padding: 10px;
    min-width: 50vw;
}

.popup-container h1{
    text-align: center;
    color: #0f4892e6;
    margin-top: 11px;
    margin-bottom: 28px;

}