.time-selector{
    position: absolute;
    top : 0;
    width: 100%;
    pointer-events: none;
}
.time-selector > *{
    pointer-events: auto;
}

.time-select > span {
    font-size: 4em;
    cursor: pointer;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently */
    color: gray;
}

.time-select{
    pointer-events: none;
    height: 85px;
    position: relative;
}
.time-select > *{
    pointer-events: auto;
}
.time-slider{
    padding: 20px;
}

.time-slider .ant-slider-track, .time-slider .ant-slider:hover .ant-slider-track{
     background-color:  #bf2323
}

.time-slider .ant-slider-handle, .time-slider .ant-slider:hover .ant-slider-handle, .time-slider .ant-slider-dot-active{
    border-color: #bf2323
}
.time-slider .ant-slider-handle:focus{
    box-shadow: 0 0 0 5px rgba(181, 55, 55, 0.12);
}

.time-select>svg{
    height: 60%!important;
    margin-top: 17px;
    fill: gray;
    cursor: pointer;
}
.time-select input,
.time-select input:focus {
    font-size: 3em;
    width: 200px;
    margin: 10px 15px;
    text-align: center;
    outline: none;
    border: 1px solid black;
    border-radius: 2px;
}



@media (max-height:600px), (max-width:700px){
    .time-select{
        height: 60px;
    }
    .time-select input, .time-select input:focus{
        font-size: 1.8em;
        width: 111px;
    }

    .time-select>svg{
        height: 49% !important;
        margin-top: 15px;
    }

}

.time-select input::-webkit-outer-spin-button,
.time-select input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

.time-select input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
}
.time-select input:disabled{
    background-color: white;
    color: black;
}


.show-time-slider{
    position: absolute;
    right: 25px;
    height: 100%;
}

.time-slider{
    transition: margin-top ease-out .15s;
}