.time-navigable-map{
    height: 100%;
    position: relative;
}
.time-navigable-map > .time-select{
    position: absolute;
    left:50%;
    top :0;
    transform: translateX(-50%);
}

.time-navigable-map > .loading-box{
    position: absolute;
    left: 6px;
    bottom: 6px;
    width: 64px;
    height: 64px;
}