.map {
    width: 100%;
    height: 100%;
    touch-action: none;
}

svg {
    background-color: #d8e2eb;
}

#land-mass {
    fill: white;
}

.state {
    stroke-width: 0;
}

.state:hover {
    opacity: .8;
    transition: opacity ease-in .1s;
}

.loading-icon {
    position: fixed;
    bottom: 0;
}

.loading-icon>img {
    width: 70px;
}