.map {
    width: 100%;
    height: 100%;
    touch-action: none;
}


#land-mass {
    fill: white;
    pointer-events: none;
}

.state {
    stroke-width: 0;
}

.state:hover path:not(.selected){
    opacity: .8;
    transition: opacity ease-in .1s;
}

.loading-icon {
    position: fixed;
    bottom: 0;
}

.loading-icon>img {
    width: 70px;
}

path.selected{
    opacity: .7;
}

svg:focus{
    outline:none
}
