
body {
    margin: 0;
}

section#main-map {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#loading-section {
    position: fixed;
    bottom: 0;
}

#main-map .map, #main-map svg{
    height: 100%;
}

.full-page-video-container{
    width : 100vw;
    height: 100vh;
}
.full-page-video-container > .video-player{
    width: 100vw;
    height: 56.25vw;
}
@media screen and (min-aspect-ratio :16/9){
    .full-page-video-container > .video-player{
        height: 100vmin;
        width: 177.777777vmin;
    }
}

.time-selector-row{
    position: absolute;
    pointer-events: none;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}