/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('/fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/raleway-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Raleway'), local('Raleway-Regular'),
       url('/fonts/raleway-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/raleway-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/raleway-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/raleway-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/raleway-v14-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}


body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dotted-button, .dotted-button:hover{
  color: inherit;
  font-weight: 200;
  background: none!important;
  border: none;
  padding: 0!important;
  /*input has OS specific font-family*/
  cursor: pointer;
  text-decoration: underline dotted;
}

.form-warning{
  margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

a:hover{
  color: initial;
  text-decoration: initial;
}

button:disabled{
  cursor: default;
}

svg{
  text-rendering: optimizeSpeed;
}

.map>svg{
  background-color: #d8e2eb;
}

.ant-btn svg{
  vertical-align: baseline;
}

.map{
  position: relative;
}

.year-display{
  position: absolute;
  top:5px;
  left : 20px;
  right: 20px;
}

.year-display .year-box{
  background-color: white ;
  text-align: center;
  font-size: 1.4em;
  color: black;
  border: 2px solid black;
}