.control-bar{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 45px;
}

.progress-bar-container{
    position: absolute;
    top: 0;
    left: 10px;
    height: 9px;
    right: 10px;
    cursor: pointer;
}
.progress-bar{
    background-color: #6d747d;
    margin-top : 3px;
    height: 3px;
}
.progress-bar-container:hover > .progress-bar, .pressed-bar{
    height: 5px;
    margin-top: 2px;

}
.accomplished-progress{
    width: 40%;
    height: 100%;
    background-color: red;
}

.buttons-container{
    height: 36px;
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    margin-top: 8px;
}
.buttons-container > *{
    z-index: 1;
}
.play-pause-button, .full-screen-button{
    width: 58px;
    cursor: pointer;
}
.play-pause-button > svg{
    width: 100%;
}

.buttons-container  svg{
    fill: white;
}

.bg-gradient{
    pointer-events: none;
    position: absolute;
    top: -47px;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(0deg, rgba(88, 88, 88, 0.7791491596638656) 0%, rgba(255,255,255,0.0) 100%);
}

.control-bar{
    opacity: 100;
}

.control-bar.hidden{
    opacity: 0;
    transition: opacity ease-out .3s;
}